<header data-overlap-agent class:list={{ hp: Astro.url.pathname === "/" }}>
  <nav class="flex fluid">
    <a href="/" class="brand">
      <span class="sr-only">Home Page</span>
      <svg
        width="112"
        height="40"
        viewBox="0 0 112 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.616 6.144C14.72 5.65333 13.8027 5.248 12.864 4.928C11.9467 4.608 11.0827 4.448 10.272 4.448C9.26933 4.448 8.48 4.65067 7.904 5.056C7.328 5.46133 7.04 6.06933 7.04 6.88C7.04 7.43467 7.25333 7.936 7.68 8.384C8.128 8.81067 8.69333 9.19467 9.376 9.536C10.08 9.87733 10.8053 10.1867 11.552 10.464C12.2347 10.72 12.9067 11.0293 13.568 11.392C14.2507 11.7333 14.8587 12.1707 15.392 12.704C15.9253 13.216 16.352 13.8667 16.672 14.656C16.992 15.424 17.152 16.3733 17.152 17.504C17.152 18.6987 16.8427 19.808 16.224 20.832C15.6053 21.856 14.6987 22.688 13.504 23.328C12.3093 23.9467 10.8373 24.256 9.088 24.256C8.192 24.256 7.27467 24.1707 6.336 24C5.41867 23.808 4.512 23.5307 3.616 23.168C2.72 22.784 1.856 22.304 1.024 21.728L3.072 18.112C3.62667 18.5173 4.224 18.88 4.864 19.2C5.52533 19.4987 6.18667 19.7333 6.848 19.904C7.50933 20.0747 8.11733 20.16 8.672 20.16C9.22667 20.16 9.78133 20.0853 10.336 19.936C10.912 19.7653 11.3813 19.488 11.744 19.104C12.128 18.72 12.32 18.1867 12.32 17.504C12.32 17.0347 12.16 16.608 11.84 16.224C11.5413 15.84 11.1253 15.488 10.592 15.168C10.08 14.848 9.51467 14.5707 8.896 14.336C8.17067 14.0587 7.424 13.7387 6.656 13.376C5.888 13.0133 5.16267 12.576 4.48 12.064C3.81867 11.5307 3.27467 10.88 2.848 10.112C2.44267 9.32267 2.24 8.36267 2.24 7.232C2.24 5.86667 2.53867 4.68267 3.136 3.68C3.75467 2.67733 4.61867 1.888 5.728 1.312C6.83733 0.714665 8.11733 0.383999 9.568 0.32C11.4667 0.32 13.0027 0.543999 14.176 0.991999C15.3707 1.44 16.4373 1.97333 17.376 2.592L15.616 6.144ZM14.7523 16.832C14.7523 15.4027 15.0829 14.1227 15.7443 12.992C16.4269 11.8613 17.3763 10.976 18.5923 10.336C19.8083 9.67467 21.2056 9.344 22.7843 9.344C24.3843 9.344 25.7709 9.67467 26.9443 10.336C28.1176 10.976 29.0136 11.8613 29.6323 12.992C30.2723 14.1227 30.5923 15.4027 30.5923 16.832C30.5923 18.2613 30.2723 19.552 29.6323 20.704C29.0136 21.8347 28.1176 22.7307 26.9443 23.392C25.7709 24.0533 24.3629 24.384 22.7203 24.384C21.1843 24.384 19.8083 24.0853 18.5923 23.488C17.3976 22.8907 16.4589 22.0267 15.7763 20.896C15.0936 19.7653 14.7523 18.4107 14.7523 16.832ZM19.2643 16.864C19.2643 17.5893 19.4136 18.2507 19.7123 18.848C20.0109 19.424 20.4163 19.8827 20.9283 20.224C21.4403 20.5653 22.0163 20.736 22.6563 20.736C23.3603 20.736 23.9683 20.5653 24.4803 20.224C24.9923 19.8827 25.3869 19.424 25.6643 18.848C25.9416 18.2507 26.0803 17.5893 26.0803 16.864C26.0803 16.1173 25.9416 15.456 25.6643 14.88C25.3869 14.304 24.9923 13.8453 24.4803 13.504C23.9683 13.1627 23.3603 12.992 22.6563 12.992C22.0163 12.992 21.4403 13.1627 20.9283 13.504C20.4163 13.8453 20.0109 14.304 19.7123 14.88C19.4136 15.456 19.2643 16.1173 19.2643 16.864ZM33.0655 10.016L33.4175 12.512L33.3535 12.288C33.8442 11.4133 34.5375 10.7093 35.4335 10.176C36.3295 9.62133 37.4282 9.344 38.7295 9.344C40.0522 9.344 41.1508 9.73867 42.0255 10.528C42.9215 11.296 43.3802 12.2987 43.4015 13.536V24H38.9215V15.2C38.9002 14.5813 38.7295 14.0907 38.4095 13.728C38.1108 13.344 37.5988 13.152 36.8735 13.152C36.1908 13.152 35.5935 13.376 35.0815 13.824C34.5695 14.272 34.1748 14.88 33.8975 15.648C33.6202 16.416 33.4815 17.3013 33.4815 18.304V24H29.0015V10.016H33.0655ZM50.1135 31.04C48.8548 31.04 47.7882 30.8907 46.9135 30.592C46.0602 30.2933 45.3348 29.9307 44.7375 29.504C44.1402 29.0773 43.6068 28.672 43.1375 28.288L45.7615 25.216C46.2522 25.664 46.8175 26.0907 47.4575 26.496C48.1188 26.9227 48.9828 27.136 50.0495 27.136C50.7535 27.136 51.4042 27.008 52.0015 26.752C52.6202 26.5173 53.1108 26.1653 53.4735 25.696C53.8575 25.2267 54.0495 24.64 54.0495 23.936V20.864L54.2095 21.664C53.8682 22.3893 53.2495 23.0293 52.3535 23.584C51.4575 24.1173 50.2842 24.384 48.8335 24.384C47.5748 24.384 46.4015 24.064 45.3135 23.424C44.2468 22.7627 43.3935 21.8773 42.7535 20.768C42.1135 19.6373 41.7935 18.3573 41.7935 16.928C41.7935 15.456 42.1348 14.1547 42.8175 13.024C43.5002 11.872 44.3855 10.9653 45.4735 10.304C46.5615 9.64267 47.7135 9.312 48.9295 9.312C50.1455 9.312 51.1908 9.49333 52.0655 9.856C52.9615 10.1973 53.6335 10.624 54.0815 11.136L53.9215 11.552L54.4015 10.016H58.5295V24C58.5295 25.3653 58.1455 26.5707 57.3775 27.616C56.6095 28.6827 55.5855 29.5147 54.3055 30.112C53.0468 30.7307 51.6495 31.04 50.1135 31.04ZM46.3055 16.8C46.3055 17.5467 46.4762 18.2187 46.8175 18.816C47.1588 19.4133 47.6175 19.8827 48.1935 20.224C48.7908 20.5653 49.4522 20.736 50.1775 20.736C50.7962 20.736 51.3402 20.6613 51.8095 20.512C52.3002 20.3413 52.7268 20.1067 53.0895 19.808C53.4735 19.488 53.7935 19.0933 54.0495 18.624V15.2C53.8575 14.7307 53.5695 14.336 53.1855 14.016C52.8015 13.6747 52.3535 13.4187 51.8415 13.248C51.3508 13.056 50.7962 12.96 50.1775 12.96C49.4522 12.96 48.7908 13.1307 48.1935 13.472C47.6175 13.792 47.1588 14.24 46.8175 14.816C46.4762 15.392 46.3055 16.0533 46.3055 16.8ZM66.7795 24.384C65.9475 24.384 65.1262 24.2347 64.3155 23.936C63.5262 23.616 62.8648 23.168 62.3315 22.592L62.4595 21.28V30.72H58.0115V9.696H61.8515L62.4915 12.416L62.1395 11.456C62.8648 10.8373 63.6755 10.3253 64.5715 9.92C65.4675 9.51467 66.5022 9.312 67.6755 9.312C68.9768 9.312 70.1395 9.62133 71.1635 10.24C72.1875 10.8373 72.9875 11.712 73.5635 12.864C74.1608 13.9947 74.4595 15.36 74.4595 16.96C74.4595 18.5387 74.1288 19.8827 73.4675 20.992C72.8062 22.1013 71.8995 22.944 70.7475 23.52C69.5955 24.096 68.2728 24.384 66.7795 24.384ZM65.8835 20.864C66.6088 20.864 67.2702 20.704 67.8675 20.384C68.4862 20.064 68.9768 19.616 69.3395 19.04C69.7235 18.4427 69.9155 17.7707 69.9155 17.024C69.9155 16.2347 69.7448 15.552 69.4035 14.976C69.0835 14.3787 68.6355 13.92 68.0595 13.6C67.5048 13.2587 66.8862 13.088 66.2035 13.088C65.6062 13.088 65.0728 13.1733 64.6035 13.344C64.1555 13.4933 63.7502 13.728 63.3875 14.048C63.0462 14.3467 62.7475 14.7307 62.4915 15.2V18.624C62.6622 19.072 62.9075 19.4667 63.2275 19.808C63.5475 20.1493 63.9315 20.416 64.3795 20.608C64.8488 20.7787 65.3502 20.864 65.8835 20.864ZM76.8923 10.016L77.3083 13.856L77.2123 13.28C77.6176 12.448 78.1723 11.744 78.8763 11.168C79.5803 10.5707 80.2736 10.112 80.9563 9.792C81.6603 9.472 82.1936 9.312 82.5563 9.312L82.3323 13.792C81.2869 13.664 80.3909 13.8347 79.6443 14.304C78.8976 14.7733 78.3216 15.392 77.9163 16.16C77.5109 16.928 77.3083 17.7173 77.3083 18.528V24H72.8603V10.016H76.8923ZM79.1522 16.832C79.1522 15.4027 79.4829 14.1227 80.1442 12.992C80.8269 11.8613 81.7762 10.976 82.9922 10.336C84.2082 9.67467 85.6056 9.344 87.1842 9.344C88.7842 9.344 90.1709 9.67467 91.3442 10.336C92.5176 10.976 93.4136 11.8613 94.0322 12.992C94.6723 14.1227 94.9923 15.4027 94.9923 16.832C94.9923 18.2613 94.6723 19.552 94.0322 20.704C93.4136 21.8347 92.5176 22.7307 91.3442 23.392C90.1709 24.0533 88.7629 24.384 87.1202 24.384C85.5842 24.384 84.2082 24.0853 82.9922 23.488C81.7976 22.8907 80.8589 22.0267 80.1762 20.896C79.4936 19.7653 79.1522 18.4107 79.1522 16.832ZM83.6642 16.864C83.6642 17.5893 83.8136 18.2507 84.1122 18.848C84.4109 19.424 84.8162 19.8827 85.3282 20.224C85.8402 20.5653 86.4162 20.736 87.0562 20.736C87.7602 20.736 88.3682 20.5653 88.8802 20.224C89.3922 19.8827 89.7869 19.424 90.0642 18.848C90.3416 18.2507 90.4802 17.5893 90.4802 16.864C90.4802 16.1173 90.3416 15.456 90.0642 14.88C89.7869 14.304 89.3922 13.8453 88.8802 13.504C88.3682 13.1627 87.7602 12.992 87.0562 12.992C86.4162 12.992 85.8402 13.1627 85.3282 13.504C84.8162 13.8453 84.4109 14.304 84.1122 14.88C83.8136 15.456 83.6642 16.1173 83.6642 16.864ZM102.17 24.384C101.338 24.384 100.516 24.2347 99.7055 23.936C98.9162 23.616 98.2548 23.168 97.7215 22.592L97.8495 21.28V30.72H93.4015V9.696H97.2415L97.8815 12.416L97.5295 11.456C98.2548 10.8373 99.0655 10.3253 99.9615 9.92C100.858 9.51467 101.892 9.312 103.066 9.312C104.367 9.312 105.53 9.62133 106.554 10.24C107.578 10.8373 108.378 11.712 108.954 12.864C109.551 13.9947 109.85 15.36 109.85 16.96C109.85 18.5387 109.519 19.8827 108.858 20.992C108.196 22.1013 107.29 22.944 106.138 23.52C104.986 24.096 103.663 24.384 102.17 24.384ZM101.274 20.864C101.999 20.864 102.66 20.704 103.258 20.384C103.876 20.064 104.367 19.616 104.73 19.04C105.114 18.4427 105.306 17.7707 105.306 17.024C105.306 16.2347 105.135 15.552 104.794 14.976C104.474 14.3787 104.026 13.92 103.45 13.6C102.895 13.2587 102.276 13.088 101.594 13.088C100.996 13.088 100.463 13.1733 99.9935 13.344C99.5455 13.4933 99.1402 13.728 98.7775 14.048C98.4362 14.3467 98.1375 14.7307 97.8815 15.2V18.624C98.0522 19.072 98.2975 19.4667 98.6175 19.808C98.9375 20.1493 99.3215 20.416 99.7695 20.608C100.239 20.7787 100.74 20.864 101.274 20.864ZM106.426 21.696C106.426 21.0347 106.661 20.48 107.13 20.032C107.621 19.584 108.154 19.36 108.73 19.36C109.264 19.36 109.765 19.584 110.234 20.032C110.725 20.48 110.97 21.0347 110.97 21.696C110.97 22.4 110.725 22.9653 110.234 23.392C109.765 23.7973 109.264 24 108.73 24C108.154 24 107.621 23.7973 107.13 23.392C106.661 22.9653 106.426 22.4 106.426 21.696Z"
          fill="black"></path>
      </svg>
    </a>
  </nav>
</header>

<style>
  @import "open-props/media";
  header {
    --bg-header: hsl(0 100% 100% / 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 997;
    background-color: var(--bg-header);
    box-shadow: var(--shadow-1);
    backdrop-filter: blur(2px);
  }

  header.hp,
  header.overlap {
    background-color: transparent;
    backdrop-filter: blur(1px);
    box-shadow: none;
  }

  header.hp:not(.overlap) {
    background-color: var(--bg-header);
  }

  nav {
    padding-block: 1rem;
    align-items: center;
  }

  /* @media (--sm-n-below) {
    .brand {
      display: none;
    }
  } */
</style>
